/***************************
GENERAL FORMATTING
This
is
how
a
multi-line
comment
works.
****************************/

body {
	font-family: 'Shadows Into Light', cursive;
}

#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
}

a {
	text-decoration: none;
	color: #999;
}

img {
	max-width: 100%;
	position: relative;
}

h3 {
	margin: 0 0 1em 0;
}

/**************************
HEADING
***************************/

header {
	float: left;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%;
}

header {
	text-align: center;
	padding: 5px 0 5px 0;
}

#logo {
	text-align: center;
	margin: 10px;
}

h1 {
	font-family: 'Shadows Into Light', cursive;
	margin: 5px 0;
	font-size: 1.75em;
	font-weight: normal;
	line-height: 0.8em;
}

h2 {
	font-family: 'Exo', curisve;
	font-size: 0.75em;
	margin: -5px 0 0;
	font-weight: normal;
	color: #ccc;
}

/**************************
NAVIGATION
***************************/

nav {
	text-align: center;
	padding: 10px;
	margin: 20px 0 0 0;
}

nav ul {
	list-style: none;
	margin: 0 10px;
	padding: 0;
}

nav li {
	list-style: none;
	display: inline-block;
}

nav a {
	font-weight: 700;
	padding: 15px 10px;
}

/**************************
FOOTER
***************************/

footer {
	font-family: 'Shadows Into Light', cursive;
	font-size: 0.75em;
	text-align: center;
	clear: both;
	padding-top: 50px;
	color: #ccc;
}

.social-icon {
	width: 20px;
	height: 20px;
	margin: 0 5px;
}

/**************************
PAGE: PORTFOLIO
***************************/

#gallery {
	margin: 0;
	padding: 0;
	list-style: none; 
}

/* Gallery list items */

#gallery li {
	float: left;
	width: 45%;
	margin: 2.5%;
	background-color: #fff;
	color: #000;
}

/* Gallery list items, anchors, paragraphs */

#gallery li a p {
	margin: 0;
	padding: 5%;
	font-size: 0.75em;
	color: #000;
}

#gallery p {
	font-family: 'Exo', cursive;
}

/**************************
PAGE: ABOUT
***************************/

.profile-photo {
	display: block;
	max-width: 150px;
	margin: 0 auto 40px;
	border-radius: 100%;
}

/**************************
COLORS
**************************/

/* site body */

body {
	background-color: #fff;
	color: #000;
}

/* Prussian blue header, seafoam green border, light-grey border */

header {
	background: #356983;
	border-color: #999;
	width: 100%;
}

/* logo text */

h1, h2 {
	margin: 1px;
	color: #fff;
	text-align: auto;
}

h2 {
	font-family: 'Shadows Into Light', cursive;
}

p {
	font-family: 'Exo', cursive;
}

/********************************
NAVIGATION LINKS
*********************************/
/*  link anchor element/ background on mobile */

nav {
	background: #358983;
	font-family: 'Exo', cursive;
	color: #ccc;
	width: 100%;
}
/* visited nav link element */
nav a, nav a:visited {
	font-family: 'Exo', cursive;
	color: #fff;
}

nav a:hover {
	font-family: 'Exo', cursive;
	color: #ccc;
}

/* selected nav hover link element */
nav a.selected, nav a:hover {
	color: #ccc;
	font-family: 'Exo', cursive;
}

/* paragraph element */

p {
	color: #999;
	font-family: 'Exo', cursive;
}
