/***************************
GENERAL FORMATTING
This
is
how
a
multi-line
comment
works.
****************************/

body {
	font-family: 'Shadows Into Light', cursive;
}

#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

/**************************
HEADING
***************************/

header {
	float: left;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%;
}

#logo {
	text-align: center;
	margin: 10px;
}

h1 {
	font-family: 'Shadows Into Light', cursive;
	margin: 5px 0;
	font-size: 1.75em;
	font-weight: normal;
	line-height: 0.8em;
}

h2 {
	font-size: 0.75em;
	margin: -5px 0 0;
	font-weight: normal;
}

/**************************
NAVIGATION
***************************/

nav {
	text-align: center;
	padding: 10px;
	margin: 20px 0 0;
}

nav ul {
	list-style: none;
	margin: 0 10px;
	padding: 0;
}

nav li {
	display: inline block;
}

nav a {
	font-weight: 700;
	padding: 15px 10px;
}

/**************************
FOOTER
***************************/

footer {
	font-size: 0.75em;
	text-align: center;
	clear: both;
	padding-top: 50px;
	color: #ccc;
}

.social-icon {
	width: 20px;
	height: 20px;
	margin: 0 5px;
}

/**************************
PORTFOLIO
***************************/

#gallery {
	margin: 0;
	padding: 0 5px;
	list-style: none;
	font-style: 'Exo', cursive;
}

#gallery li {
	float: left;
	width: 45%;
	margin: 2.5%;
	background-color: #f5f5f5;
	color: #ccc;
}

/* Gallery list items, anchors, paragraphs */

#gallery li a p {
	margin: 0;
	padding: 0;
	font-size: 0.75ems;
	color: #ccc;
}

/**************************
COLORS
**************************/

/* site body */

body {
	background-color: #fff;
	color: #000;
}

/* Prussian blue header, seafoam green border */

header {
	background: #356983;
	border-color: #fff;
}

/* logo text */

h1, h2 {
	color: #fff;
}

h2 {
	font-family: 'Shadows Into Light', cursive;
}

p {
	font-family: 'Exo', cursive;
}

/********************************
NAVIGATION LINKS
*********************************/
/*  link anchor element/ background on mobile */

nav {
	background: #358983;
	font-family: 'Exo', cursive;
	color: #ccc;
}
/* visited nav link element */
nav a, nav a:visited {
	font-family: 'Exo', cursive;
	color: #ccc;
}

nav a:hover {
	font-family: 'Exo', cursive;
	color: #ccc;
}

/* selected nav hover link element */
nav a.selected, nav a:hover {
	font-family: 'Exo', cursive;
	color: #fff;
}

/* paragraph element */

p {
	color: #999;
	font-family: 'Exo', cursive;
}