/* Attribute Selectors ------------- */

/* 
[class="form-contact"] {
  padding: 20px 24px;
  background: #f4f7f8;
}

div[id="container"] {
  max-width: 500px;
  margin: auto;
} 

*/

.form-contact {  /* Class selectors have periods. */
  padding: 20px 24px;
  background: #f4f7f8;
}

#container {  /* ID selectors have pound symbols. */
  max-width: 500px;
  margin: auto;
}

/* 

input[type="text"] {
  background: #fdfee6;
}
input[type="placeholder"] {
  background: #fdfee6;
}

*/

input[type="email"] {
  background: #fdfee6;
}

/*

input[type="button"],
input[type="reset"],
input["submit"] {
 cursor: pointer;
}

*/

a[target="_blank"] {
  color: #39add1;
  text-decoration: none;
  border-bottom: 1px dotted;
}

/* DRY Classes ------------- */

.br {
  border-radius: .5em;
}

.avatar {
  display: block;
  margin: 0 auto 2em;
}

.rounded {
  border-radius: 50%;
}

.btn {
  cursor: pointer;
  font-size: .875em;
  font-weight: 400;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
}

.btn:hover {
  opacity: .75;
}

.default {
  background-color: #52bab3;
}

.error {
  background-color: #ff784f;
}

 /* [General (djacent) Sibling Selector] */

@media (min-width: 769px) {
  .inln {
    width: auto;
    display: inline-block;
  }
  .btn + .btn {  /* plus sign is adjacent sibling selector */
    margin-left: 20px;
  }
}

/* Space is descendant selector */

/* Combinators ------------- */

form > a { > /* whitespace between two selectors is a combinator, the greater than sign is child combinator */
  font-size: .7em;
}

h1 ~ label { /* tilde is general sibling selector, targets all following sibling label elements */
  background: #ff6347;
  color: #fff;
  padding: 5px;
}

/* REVIEW 

   * Don't Repeat Yourself 

   * We can define specific child and sibling selectors with combinators

   ">" targets a direct child of an element

   "+" targets immediate siblings 

   "~" targets all the specified siblings that follow an element */
